:root {
  /* Brands */
  --primary-color: #f36f21;
  --secondary-color: #ff9240;
  --accent-color: #1e196b;

  /* UI */
  --white-color: #ffffff;
  --black-color: #000000;
  --text-color: #555555;
  --gray-color: #d1d1d1; /* Gray 20*/
  --light-gray-color: #f8f8f8; /* Gray 10 */

  /* Main Gradients */
  --orange-gradient: linear-gradient(89.54deg, #f36f21 26.96%, #ffdd02 77.37%);
  --blue-gradient: linear-gradient(
    270deg,
    rgba(49, 41, 171, 0.782912) -14.14%,
    #1e196b 82.89%
  );

  /* Button Gradients */
  --button-orange-gradient: linear-gradient(
    89.78deg,
    #f37120 0.06%,
    #f68c19 31.04%,
    #f9a711 62.01%,
    #ffdd02 92.99%
  );

  /* Shadows */
  --box-shadow-orange: 0px 2px 5px rgba(243, 111, 33, 0.3);
  --box-shadow-orange-hover: 0px 4px 10px rgba(243, 111, 33, 0.4);
  --box-shadow-black: 0px 4px 4px 0px #00000040;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--white-color);
}
